.header{
    background-color: black;
}

/* body{
    background-color: #b3b3b3;
} */

.cube-tesseract{
    width: 5%;
}

.logo-tesseract{
    width: 25%;
}

.fonte-padrao{
    font-family: 'Fjalla One', sans-serif;
}

.avatar{
    width: 200px;
}

.footer{
    background-color: black;
}