.header{
    background-color: black;
}

/* body{
    background-color: #b3b3b3;
} */

.cube-tesseract{
    width: 5%;
}

.logo-tesseract{
    width: 25%;
}

/* .fonte-padrao{

} */

.avatar-url{
    max-width: 100%;
    max-height: 100%;
}

.footer{
    background-color: black;
}