.header{
    background-color: black;
}

.cube-tesseract{
    width: 5%;
}

.logo-tesseract{
    width: 20%;
}

.fonte-padrao{
    font-family: 'Fjalla One', sans-serif;
}

.searchInput::-webkit-input-placeholder{
    font-family: 'Fjalla One', sans-serif;
}

.avatar{
    width: 180px;
}

.avatar:hover{
    transform: scale(1.2);
    transition-duration: 1s;
}

.footer{
    background-color: black;
}